<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="QQTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="QQTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <QQTest.Properties.Settings>
            <setting name="QQTest_cn_com_webxml_www_qqOnlineWebService" serializeAs="String">
                <value>http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx</value>
            </setting>
        </QQTest.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QQTest.Properties.Settings>
            <setting name="QQ" serializeAs="String">
                <value>0</value>
            </setting>
        </QQTest.Properties.Settings>
    </userSettings>
</configuration>
